@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0e0c5e;
  --secondary-color: #ffffff;
  --gray-light: #e4e4e4;
  --gray-medium: #8c8c8c;
  --blue-light: #d5e8ff;
  --linear-orange: linear-gradient(
    110deg,
    rgba(245, 139, 63, 1) 0%,
    rgba(241, 174, 44, 1) 100%
  );
  --primary-font: "Inter Tight", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

input:focus {
  border: 2px solid var(--primary-color);
  border-color: var(--primary-color);
  outline: var(--primary-color);
  background-color: var(--secondary-color);
}
