:root {
  --cloud-color: #ffffff99;
  --linear-cloud: linear-gradient(to bottom, #d5e8ff, #f0f8ff);
}

@keyframes moveClouds {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(550%);
  }
}

.cloud {
  z-index: 1;
  position: absolute;
  top: -100;
  left: -150px; /* Commence hors de l'écran */
  right: -100px;
  width: 125px;
  fill: var(--cloud-color); /* Couleur des nuages */
  animation: moveClouds 30s linear infinite;
}

.sky {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--linear-cloud);
  overflow: hidden;
}
