.weather-cross-col {
  font-size: 0.9rem;
  color: #0e0c5e;
  display: flex;
  justify-content: center;
  width: 100%;
}

.data-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.weather-data-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.data-col:first-child {
  border-right: 2px solid #7bb5d974;
  margin-bottom: 3rem;
}

.weather-data-col:first-child {
  border-bottom: 2px solid #7bb5d974;
}
