/* TYPO */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
/*  */

/* GENERAL */
.homeMain {
  width: 100%;
  padding: 0 5% 2rem 5%;
  background: linear-gradient(
    180deg,
    rgba(213, 232, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.topHome {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*  */

/* HEADER */
.headerHome {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.welcome {
  margin: 2px;
}

.logoItems {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

.btnNavigate {
  background: none;
  border: none;
}

#favorite {
  height: 24px;
  width: 24px;
}

.clicked {
  animation: onde 1s ease-in-out;
}

@keyframes onde {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }

  45% {
    transform: scale(1.5);
    opacity: 0.2;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

/*  */

/* INPUT */
.searchCity {
  height: 34px;
  width: 100%;
  display: flex;
  font-family: var(--primary-font);
}

.inputSearchCity {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding-left: 2.5rem;
  font-size: 1rem;
  border: none;
  color: var(--primary-color);
}

#inputSearchCity::placeholder {
  font-size: 1rem;
  opacity: 0.7;
  color: var(--primary-color);
}

#inputSearchCity:focus {
  outline: 2px solid var(--primary-color);
}

#btnSearchCity {
  position: absolute;
  height: 34px;
  background: none;
  width: 2rem;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
}

/*  */

/* main top */
.cityGlobalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

#cityHome {
  font-size: 1.8rem;
  text-align: center;
}

#regCountry {
  opacity: 0.5;
  margin-bottom: 1rem;
}

#personalWelcome {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  margin-bottom: 0.7rem;
  background-color: rgba(213, 232, 255, 32%);
}

#temperatureCity {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#svgCloud {
  margin-top: -1.5rem;
  height: 28vh;
}

#temperatureNow {
  text-align: center;
  margin-top: -5.7rem;
  font-weight: bold;
  font-size: 3.5rem;
}

#feelsTemperature {
  font-weight: lighter;
}

/*  */
