@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0e0c5e;
  --secondary-color: #ffffff;
  --gray-light: #e4e4e4;
  --gray-medium: #8c8c8c;
  --linear-orange: linear-gradient(
    110deg,
    rgba(245, 139, 63, 1) 0%,
    rgba(241, 174, 44, 1) 100%
  );
  --primary-font: "Inter Tight", sans-serif;
  --primary-background: #d5e8ff;
}

* {
  z-index: 2;
}

.NameInput .mainname {
  background-color: var(--secondary-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 21.5rem;
  width: 100%;
}

.formname {
  display: flex;
  flex-direction: column;
}
.inputname {
  padding-left: 2rem;
  background-size: 40px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.questionTitleName {
  margin-top: 4rem;
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  margin-left: 2rem;
}

.personalize {
  color: var(--primary-color);
  font-size: 15px;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.buttonsname {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.Validebutton,
.Passedbutton {
  font-weight: bold;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
.Validebutton {
  background: var(--linear-orange);
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
.Passedbutton {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
